/*
==================================================
#-#-#-#-#-#-#-#-#-www.RyanUrie.com-#-#-#-#-#-#-#
==================================================
*/


/*
==================================================
-------------------------- Global ------------------------
================================================== 
*/
    * {
        border: 1px dashed red;
        text-align: center;
    }
    * a {
        /*color: #;*/
    }
    * a:hover {
        /*color: #;*/
    }
    ul {
        list-style: none;
    }


/*
==================================================
--------------------------- Menu  ------------------------
================================================== 
*/
